.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #007bff; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8 !important;
}

button:focus {
  outline: none !important;
}

textarea:focus,
input:focus {
  outline: none !important;
  border-color: #28a745 !important;
}

span:hover {
  color: #ffa500 !important; /* Yıldız hover rengi */
}

input[type="number"]:focus {
  border-color: #28a745 !important;
}

textarea {
  font-family: Arial, sans-serif !important;
}

input[type="number"]::-webkit-inner-spin-button {
  margin: 0 !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

/* Modal Arka Plan */
.modal-overlay-general {
  animation: fadeIn 0.3s ease-in-out !important; /* Animasyon uygulandı */
}

/* Modal İçerik */
.modal-content-general {
  animation: fadeIn 0.4s ease-in-out !important; /* Animasyon uygulandı */
}

.custom-dropdown {
  position: relative;
  max-width: 280px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: linear-gradient(135deg, #ffffff, #f7f9fc); /* Hafif degrade */
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hafif gölge */
  overflow: hidden;
}

.custom-dropdown:hover {
  border-color: #007bff;
  box-shadow: 0 6px 10px rgba(0, 123, 255, 0.2); /* Hover'da gölge artışı */
}

.custom-dropdown .selected-item {
  padding: 12px 15px;
  font-size: 16px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 10px;
  background: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-dropdown .selected-item:hover {
  color: #007bff;
  background: #f8f9fa;
}

.custom-dropdown .dropdown-options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-height: 280px; /* Çok fazla seçenek varsa kaydırma çubuğu */
  overflow-y: auto;
  z-index: 1000;
  animation: fadeIn 0.3s ease-out;
}

.custom-dropdown .dropdown-option {
  padding: 12px 15px;
  font-size: 15px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-dropdown .dropdown-option:hover {
  background: #007bff;
  color: white;
}

.custom-dropdown .dropdown-option:active {
  background: #0056b3;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
